/* All pages */
body {
    background: #ACE3FF;
    font-family: Roboto;
}
nav {
    box-shadow: 0px 4px 4px grey;
    background-color: #FFA9BA;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 30px;
    /*visibility: visible;*/
}
p {
    font-size: 30px;
    text-align: center;
}

.link {
    color: white;
    font-size: 24px;
    text-decoration: none;
}
.nav-link {
    -webkit-text-stroke: 1px black;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 30px;
}
/*.nav-txt{*/
/*    margin-left: 15px;*/
/*    font-size: 30px;*/
/*    margin-top: 0;*/
/*    color: #FAFAFA;*/
/*}*/

/* Home */
.login {
    text-align: center;
}
.logout {
    float: right;
    margin-right: 24px;
}

/* Signup page */
.signup{
    text-align: center;
}

/* Pets */
.pet {
    color: black;
    text-decoration: none;
}

/* User Profile */
.coins {
    display: inline;
    font-size: medium;
    text-align:start;
}
.coins-img {
    height: 25px;
    width: 25px;
    margin-top: 12px;
    margin-left: 6px;
    margin-right: 6px;
}
.currency {
    margin-top: 20px;
    margin-left: 40px;
    vertical-align: middle;
    height: 40px;
    display:inline-flex;
    flex-direction: row;
    border: 2px solid #FFF4AA;
    background-color: azure;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 6px 20px -5px;
    padding-bottom: 6px;
    padding-right: 6px;
}

/* Fishing */
.blue-fish, .green-fish, .purple-fish, .red-fish {
    height: 10px;
    width: 15px;
}
.box-color {
    height: 50px;
    width: 120px;
    margin-left: 20px;
    border-radius: 5px;
    background-color: white;
}
.canvas-p {
    width: 1200px;
    height: 1000px;
    border: 2px solid #ACE3FF;
    cursor:url(../public/fishing-rod.png),auto;
}
.game-inst {
    width: 120px;
    margin-left: 25px;
    font-size: x-small;
}
.game-row {
    display: flex;
    flex-direction:row;
    align-items: center;
}
.minig-page {
    cursor:url(../public/fishing-rod.png),auto;
}
.prof-msg{
    margin-top: 30px;
    margin-left: 50px;
    display: inline-flex;
    text-align: center;
    border-radius: 50%;
    background: #FAFAFA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.prof-msg-txt {
    padding: 10px;
}