body, button {
    margin: 0 auto;
    font-family: 'Sniglet', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
    font-size: 36px;
}
h3 {
    /*margin-left: -24px;*/
    font-size: 24px;
}

.circle {
    height: 50px;
    width: 50px;
    background-color: #555;
    border-radius: 50%;
  }